@model RiskGame.Models.GameRoomModel
@using RiskGame.Helper
@{
    var rank = 1;
}
<div class="card">
    <div class="card-header">
        <strong class="card-title"><i class="fa fa-trophy"></i> Leader Board</strong>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col">Player Name</th>
                    <th scope="col">Money</th>
                    <th scope="col">Team</th>
                    <th scope="col">Project</th>
                    <th scope="col">Game Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.GetResult().OrderByDescending(x => x.GameFinished)) // หากเงินเสมอกันจะเรียงเวลาคนที่เล่นเกมส์ก่อน
                {
                    <tr>
                        <td>@rank</td>
                        <td>
                            <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="@item.ImageUrl">
                        </td>
                        <td>@item.PlayerName</td>
                        <td>@item.MoneyValue.ToString("n0")</td>
                        <td>@item.TeamValue</td>
                        <td>@item.ProjectValue</td>
                        <td>@RenderGameFinished(item.GameFinished.GetValueOrDefault())</td>
                        <td>
                            @if (rank == 1 && item.GameFinished.GetValueOrDefault())
                            {
                                <i class="fa fa-trophy text-warning"></i>
                            }
                        </td>
                    </tr>

                    rank += 1;
                }
            </tbody>
        </table>
    </div>
</div>

@helper RenderGameFinished(bool gameFinished)
{

    if (gameFinished)
    {
        <span class="text-success">@gameFinished.IsGameFinishedFormat()</span>
    }
    else
    {
        <span class="text-info">@gameFinished.IsGameFinishedFormat()</span>
    }
}
