@model RiskGame.Models.RiskDataModel
@using RiskGame.Helper
@{
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
    ViewBag.Title = "Game Page";
    ViewBag.CountDown = DateTime.Now.AddMinutes(5.05);
}

<div class="jumbotron">
    <h1>Game Battle</h1>
    <div>PlayerName:  @Singleton.Game().PlayerName</div>
    <div>Money:  @Singleton.Game().Money</div>
    <div>Turn:  @Singleton.Game().Turn</div>
    <div>GameRoomId:  @Singleton.Game().GameRoomId</div>


    @Html.ActionLink("Go to Dashboard", "ReDashBoard", "GameResult")
</div>