@model RiskGame.Models.GameResultViewModel
@using RiskGame.Helper
@{
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
}

<div class="jumbotron">
    <h1>Game Battle</h1>
    <div>PlayerName:  @Singleton.Game().PlayerName</div>
    <div>Money:  @Singleton.Game().Money</div>
    <div>Turn:  @Singleton.Game().Turn</div>
    <div>GameRoomId:  @Singleton.Game().GameRoomId</div>


    @Html.ActionLink("Go to Dashboard", "ReDashBoard", "GameResult")
</div>