@using RiskGame.Helper

@*<div>PlayerName:  @Singleton.Game().PlayerName</div>
<div>Money:  @Singleton.Game().Money</div>
<div>Turn:  @Singleton.Game().Turn</div>
<div>GameRoomId:  @Singleton.Game().GameRoomId</div>*@
<br />
<section class="card">
    <div class="twt-feed blue-bg">
        <div class="corner-ribon black-ribon">
            <i class="fa fa-gamepad"></i>
        </div>
        <div class="fa wtt-mark text-danger"></div>
        <div class="media">

            <div class="col-lg-12">
                <div class="col-lg-3">
                    <a href="#">
                        <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="@Singleton.Game().PlayerImageUrl">
                    </a>
                    <div class="media-body">
                        <h2 class="text-white display-6">@Singleton.Game().PlayerName</h2>
                        <p class="text-light">Start Up</p>
                    </div>
                </div>
                <div class="col-lg-9">
                    @*<div class="text-danger fa" style="font-size:100px;">@Html.Partial("_HeaderGameCountDown")</div>*@
                    <div class="weather-category twt-category" style="background:white;">
                        <ul>
                            <li class="active text-success">
                                <h2 id="totalGameMoney">@Singleton.Game().Money.ToString("n0")</h2>
                                Money
                            </li>
                            <li>
                                <h2>@Singleton.Game().Team</h2>
                                Team
                            </li>
                            <li>
                                <h2>@Singleton.Game().Project</h2>
                                project
                            </li>
                            <li class="text-danger">
                                <h2>@Singleton.Game().Turn</h2>
                                Turn
                            </li>
                            <li class="text-info">
                                <h2>@Enum.GetName(typeof(Const.SoftwareType), (int)Singleton.Game().SoftwareType)</h2>
                                Software Type
                            </li>
                            <li>
                                <h2>@Singleton.Game().GameRoomId</h2>
                                GameRoomId
                            </li>
                        </ul>
                    </div>
                </div>
            </div>          
        </div>
    </div>
    
    @*<div class="twt-write col-sm-12">
        <textarea placeholder="Write your Tweet and Enter" rows="1" class="form-control t-text-area"></textarea>
    </div>
    <footer class="twt-footer">
        <a href="#"><i class="fa fa-camera"></i></a>
        <a href="#"><i class="fa fa-map-marker"></i></a>
        New Castle, UK
        <span class="pull-right">
            32
        </span>
    </footer>*@
</section>