<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <link rel="stylesheet" href="~/Content/sufee/assets/css/normalize.css">
    <link rel="stylesheet" href="~/Content/sufee/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/sufee/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/sufee/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/sufee/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/sufee/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="~/Content/sufee/assets/scss/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    @*<script type="text/javascript">
        function disableF5(e) { if ((e.which || e.keyCode) == 116 || (e.which || e.keyCode) == 82) e.preventDefault(); };

        $(document).ready(function () {
            $(document).on("keydown", disableF5);
        });
    </script>*@


</head>
<body>  
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
