@{
    /**/

    ViewBag.Title = "Home Page";
}
@using RiskGame.Models
@using System.Web.Script.Serialization
@*<iframe src="~/DashBoard" width="100%" height="500px" />*@

@section BreadCrumb{
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>
        @*<div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>*@
    </div>
}
@if (Request.IsAuthenticated)
{

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-1">
            <a href="@Url.Action("addroom","room", new { player = 1})">
                <div class="card-body pb-0">
                    <h4 class="mb-0">
                        @*<span class="count">10468</span>*@
                    </h4>
                    <h2 class="text-light text-white"><i class="fa fa-user"></i> Create Single Player</h2>
                    <div class="chart-wrapper px-0" style="height:70px;text-align: right;vertical-align: text-bottom;position: relative;top: 40px;left: 10px;" height="70">
                        <span class="badge badge-pill badge-dark">เกมส์โหมดเล่นคนเดียว</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-flat-color-3">
            <a href="@Url.Action("addroom","room")">
                <div class="card-body pb-0">
                    <h4 class="mb-0">
                        @*<span class="count">10468</span>*@
                    </h4>
                    <h2 class="text-light text-white"> <i class="fa fa-users"></i> Create MultiPlayer</h2>
                    <div class="chart-wrapper px-0" style="height:70px;text-align: right;vertical-align: text-bottom;position: relative;top: 40px;left: 10px;" height="70">
                        <span class="badge badge-pill badge-dark">เกมส์โหมดเล่นหลายคน</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-sm-12 col-lg-12">
        <div id="gameRoomTable" style="min-height:560px;"></div>
    </div>




    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var notifications = $.connection.gameHub;
            //debugger;
            // Create a function that the hub can call to broadcast messages.
            notifications.client.updateMessages = function () {
                GetListRoom();

            };
            // Start the connection.
            $.connection.hub.start().done(function () {
                // alert("connection started")
                GetListRoom();
            }).fail(function (e) {
                alert(e);
            });
        });


        function GetListRoom() {
            var tbl = $('#gameRoomTable');
            $.ajax({
                url: '/Room/GetListRoom',
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html'
            }).success(function (result) {
                tbl.empty().append(result);
            }).error(function () {

            });
        }
    </script>
    @*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
        <script>


            Swal.fire({
                title: 'Error!',
                text: 'Do you want to continue',
                type: 'error',
                confirmButtonText: 'Cool'
            })


        </script>*@



    @*var javaScriptSearilizer = new JavaScriptSerializer();
                var list = new OpenRiskGameBattleModel
                {
                    RiskGameBattleData = new List<GameBattleData>
        {
            new GameBattleData
            {
                title ="ความเสี่ยงที่คุณได้รับมีทั้งหมด",
                type = "warning"
            },
            new GameBattleData
            {
                title ="3 ความเสี่ยง คือ",
                type = "warning"
            },
            new GameBattleData
            {
                title ="1",
                imageUrl = "/Content/sufee/images/logo.png"
            },
            new GameBattleData
            {
                title ="2",
                imageUrl = "/Content/sufee/images/logo.png"
            },
            new GameBattleData
            {
                title ="3",
                imageUrl = "/Content/sufee/images/logo.png"
            },
        }
                };



                var searializedObject = javaScriptSearilizer.Serialize(list);


            <script>
                var searializedObject = @Html.Raw(searializedObject)
                Swal.queue(searializedObject.RiskGameBattleData);
            </script>*@





}
else
{
    <h1>@Html.Raw("Welcome to The Risk Game")</h1>
    <br />

    @Html.Partial("_RiskSlideShow")

    <br />
    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h3><strong class="card-title">ที่มา</strong></h3>
                </div>
                <div class="card-body">
                    <span>การพัฒนาซอฟต์แวร์ไม่ว่าองค์กรไหนหรือรูปแบบใดให้ประสบผลสำเร็จได้นั้น ย่อมมีปัญหา <br />และปัจจัยมากมายที่จะส่งผลกระทบกับโครงการทั้งก่อนเริ่มโครงการ ระหว่างดำเนินการและใกล้เวลาสิ้นสุดโครงการ <br />โดยจุดเริ่มต้นของการพัฒนาซอฟต์แวร์ คือ การเก็บความต้องการของลูกค้าเป็นอันดับแรก<br />ในขั้นตอนนี้เป็นหัวใจสำคัญที่สามารถชี้วัดได้ว่าโครงการจะสามารถดำเนินการต่อไปในทิศทางใด <br />ผู้จัดการโครงการจะต้องวิเคราะห์และประเมินสถานการณ์ในด้านต่าง ๆ เช่น ระยะเวลาของ <br />โครงการภายใต้กรอบเวลาที่จำกัด ขั้นตอนในการดำเนินงานและปฏิบัติการ <br />การใช้ทรัพยากรที่มีอยู่ให้เกิดประสิทธิภาพสูงสุด การบริหารจัดการงบประมาณ เป็นต้น <br />ซึ่งจากปัญหาข้างต้นเมื่อนำมารวบรวม วิเคราะห์แล้วพบว่าปัญหาที่ผ่านมา คือ ความเสี่ยงที่อาจเกิดขึ้นได้ในอนาคต <br />จึงมีแนวคิดในการพัฒนา โปรแกรมการจำลองสถานการณ์ความเสี่ยงในการพัฒนาซอฟต์แวร์บนเว็บแอพลิเคชัน <br />เพื่อศึกษาและเข้าใจ และรวบรวมปัญหาที่ส่งผลต่อการพัฒนาซอฟต์แวร์</span>
                </div>
            </div>
            @*<img src="~/Content/sufee/images/riskorsafe_300.png">*@
        </div>

        <div class="col-sm-6 col-lg-6 col-md-6 text-left">
            <div class="card">
                <div class="card-header">
                    <h3><strong class="card-title"> คำอธิบายเกมส์</strong></h3>
                </div>
                <div class="card-body">
                    <ol class="vue-ordered" style="padding:0 10px;">
                        <li>คุณสามารถเล่นแข่งกับ BOT หรือจะเล่นแบบ Multiplayer ก็ได้ คุณจะได้รับงบประมาณตั้งต้นโครงการจำนวน 1 ล้านเหรียญ</li>
                        <li>คุณจะตกอยู่ในสถานการณ์ที่จะต้องเจอความเสี่ยงผ่านรูปแบบการทำงาน Work Process ต่าง ๆ เช่น Water Fall, Agile หรือ No Methodology ซึ่งเหตุการณ์ต่าง ๆ ก็จะแตกต่างกันในแต่ละรอบ</li>
                        <li>พอผ่านทุกขั้นตอนการทำงานไปได้ ผู้ที่เหลืองบประมาณเยอะที่สุดจะเป็นฝ่ายได้รับชัยชนะ เกมส์นี้วัดกันที่ความคิด การตัดสินใจ การเรียนรู้และประสบการณ์ที่ผ่านมา รวมถึงโชคชะตาที่ไม่สามารถกำหนดได้</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h3><strong class="card-title">วิธีการเล่น</strong></h3>
                </div>
                <div class="card-body">
                    <div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/007a6c31fc964421aae72553bfbbfa9d" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>

                    <div data-offset-key="7ktu3-0-0"><strong>วิธีการเล่นแบบย่อ</strong></div>
                
                <div data-block="true" data-editor="1uipm" data-offset-key="5p9ld-0-0">
                    <ol>
                        <li data-offset-key="5p9ld-0-0"><span data-offset-key="5p9ld-0-0">ลงทะเบียน และ เข้าสู่ระบบ</span></li>
                        <li data-offset-key="5p9ld-0-0">ปิดแบบประเมินเกมส์ แล้วระบุอีเมล์ จำนวนเงินคงเหลือ (เริ่มต้น 1 ล้านเหรียญ)</li>
                        <li data-offset-key="5p9ld-0-0">สร้างเกมส์ single player / เลือกรูปแบบ Agile จำนวน 2 รอบ</li>
                        <li data-offset-key="5p9ld-0-0">กดเข้าเกมส์</li>
                        <li data-offset-key="5p9ld-0-0">พิจารณาความเสี่ยงที่จะเกิดขึ้นในแต่ละรอบ</li>
                        <li data-offset-key="5p9ld-0-0"><span data-offset-key="afh3g-0-0">เมื่อจบเกมส์ที่ 1 ให้เก็บข้อมูลเงินคงเหลือล่าสุดไว้</span></li>
                        <li data-offset-key="5p9ld-0-0"><span data-offset-key="38cpb-0-0">สร้างเกมส์ที่ 2 single player / เลือกรูปแบบ Agile จำนวน 2 รอบ แต่ระบุเงินคงเหลือล่าสุดลงไปครับ</span></li>
                        <li data-offset-key="5p9ld-0-0"><span data-offset-key="41vdt-0-0">เล่นเกมส์</span></li>
                        <li data-offset-key="5p9ld-0-0"><span data-offset-key="41vdt-0-0">เมื่อจบเกมส์ที่ 2 ให้ทำแบบประเมิน<br /></span>หากความเสี่ยงไหน คิดว่าไม่เกิดขึ้นเลยให้เลือกป้องกัน Level 0<br />หากความเสี่ยงไหน เกิดขึ้นบ่อยสุดให้เลือกป้องกัน level 3 (ความเสี่ยงแต่ละ Level จะมีมูลค่าแตกต่างกัน)</li>
                    </ol>
                    </div>
                </div>
            </div>
            @*<img src="~/Content/sufee/images/riskorsafe_300.png">*@
        </div>

        <div class="col-sm-6 col-lg-6 col-md-6 text-left">
            <div class="card">
                <div class="card-header">
                    <h3><strong class="card-title">แบบประเมิน</strong></h3>
                </div>
                <div class="card-body">
                    <a class="text-info" href="https://docs.google.com/forms/d/e/1FAIpQLScyMJNgsl9Y3dexzTT3K1deU_w-xNqpFZUHC-gpfp11QpEb3A/viewform" target="_blank"> แบบประเมินเกมส์ RiskGame.net</a>
                </div>
            </div>
        </div>
    </div>

    <br /><br /><br /><br /><br />
    <script>


                                                                                                //  $.ajax({
                                                                                                //      url: '/Home/GetOpenRiskGameBattle',
                                                                                                //    contentType: 'application/html ; charset:utf-8',
                                                                                                //    type: 'GET',
                                                                                                //    dataType: 'JSON',
                                                                                                //}).success(function (data) {
                                                                                                //    debugger;
                                                                                                //    Swal.queue(data.Result.RiskGameBattleData);


                                                                                                //}).error(function () {

                                                                                                //});



                                                                                                //Swal.queue([
                                                                                                //    { title: "ความเสี่ยงที่คุณได้รับมีทั้งหมด", type: "warning" },
                                                                                                //    { title: "3 ความเสี่ยง คือ", type: "warning" },
                                                                                                //    {
                                                                                                //        title: "1x", imageUrl: '/Content/sufee/images/logo.png', imageWidth: 400, imageHeight: 200,
                                                                                                //    },
                                                                                                //    {
                                                                                                //        title: "2x", imageUrl: '/Content/sufee/images/logo.png', imageWidth: 400, imageHeight: 200,
                                                                                                //    },
                                                                                                //    {
                                                                                                //        title: "3x", imageUrl: '/Content/sufee/images/logo.png', imageWidth: 400, imageHeight: 200,
                                                                                                //    }
                                                                                                //]);

                                                                                                //Swal.fire({
                                                                                                //    title: 'Sweet!',
                                                                                                //    text: 'Modal with a custom image.',
                                                                                                //    imageUrl: 'https://unsplash.it/400/200',
                                                                                                //    imageWidth: 400,
                                                                                                //    imageHeight: 200,
                                                                                                //    imageAlt: 'Custom image',
                                                                                                //    animation: false
                                                                                                //})
                                                                                                //Swal.fire({ title: "<i class='fa fa-lock' style='margin-top: 5px;'></i>&nbsp;กรุณาล็อกอินเพื่อเข้าสู่ระบบ", type: "info"});
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
}