@model RiskGame.Models.GameRoomModel

@{
    ViewBag.Title = "Join Room Page";

    // var ob = RiskGame.Helper.Singleton.User();
}

<div class="row">
    <h2>Join Room Page</h2>
    <h5>Member:</h5> @User.Identity.Name
</div>
<br>
@using (Html.BeginForm("JoinGameRoom", "Room", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Hidden("Add.GameRoomId", Model.GameRoomId)
    <div id="JoinRoom">

        <div class="row">
            <h2>Create Character</h2>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.Label("Player Name")
                    @Html.TextBox("Add.PlayerName", "", new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    @Html.Label("Job")
                    @Html.DropDownList("Add.JobType", (List<SelectListItem>)ViewBag.SelectJobType, new { @class = "form-control", required = "required" })
                </div>

            </div>
            <div class="col-lg-6">

            </div>

        </div>

        <div class="row text-center">
            <br />
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Join</button>
        </div>
    </div>
}