@model RiskGame.Models.GameRoomModel
@{
    ViewBag.Title = "Wait Room Page";

    // var ob = RiskGame.Helper.Singleton.User();
}

<div class="jumbotron">
    <strong><i class="fa fa-coffee"></i> Wait Room</strong>
    <div class="row">
        <div class="col-lg-12 col-md-6">
            <div class="card col-lg-3">
                <div class="card-body">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-layout-grid2 text-warning border-warning"></i></div>
                        <div class="stat-content dib">
                            <div class="stat-text">Game Room Id</div>
                            <div class="stat-digit">@Model.GameRoomId: @Model.GameRoomName</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-lg-3">
                <div class="card-body">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-money text-success border-success"></i></div>
                        <div class="stat-content dib">
                            <div class="stat-text">Money</div>
                            <div class="stat-digit">@Model.GameRoomId: @Model.GameRoomName</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-lg-3">
                <div class="card-body">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-pulse text-dark border-dark"></i></div>
                        <div class="stat-content dib">
                            <div class="stat-text">@Html.Raw("Software Type")</div>
                            <div class="stat-digit">@Model.CreateBy</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-lg-3">
                <div class="card-body">
                    <div class="stat-widget-one">
                        <div class="stat-icon dib"><i class="ti-stats-up text-danger border-danger"></i></div>
                        <div class="stat-content dib">
                            <div class="stat-text">@Html.Raw("Mission")</div>
                            <div class="stat-digit">@Html.Raw(" ")</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="userGameRoom"></div>
        </div>
    </div>
</div>

@*<div class="row">
        <h2>Wait Room Page</h2>
        <h5>Owner:</h5> @User.Identity.Name
    </div>*@
<br>









<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        // Declare a proxy to reference the hub.
        var notifications = $.connection.gameHub;

        //debugger;
        // Create a function that the hub can call to broadcast messages.
        notifications.client.updateMessages = function () {

            GetPlayer();
            CheckRoomStatus();

        };
        // Start the connection.
        $.connection.hub.start().done(function () {
           // alert("connection started")
            GetPlayer();
            CheckRoomStatus();

        }).fail(function (e) {
            alert(e);
        });
    });


    function GetPlayer()
    {
        var tbl = $('#userGameRoom');
        $.ajax({
            url: '/Room/GetPlayer',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            data: {id: @Model.GameRoomId }
        }).success(function (result) {

            tbl.empty().append(result);
            debugger;

        }).error(function () {

        });
    }




    function CheckRoomStatus() {
           $.ajax({
            url: '/GameStart/GetGameRoomStatus',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'JSON',
            data: {id: @Model.GameRoomId }
        }).success(function (data) {

            debugger;
            if (data.Result.StartDate != null) {
                window.location.href = "@Url.Content("~/GameStart/Index/")" + @Model.GameRoomId ;
            }




        }).error(function () {

        });
    }

</script>