@model RiskGame.Models.RiskDataModel
@using RiskGame.Helper
@{
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
    ViewBag.Title = "Game Start Page";
    ViewBag.CountDown = DateTime.Now.AddMinutes(5.05);
}

<div class="jumbotron">
    <strong><i class="fa fa-fighter-jet"></i> Game Start</strong>
    @Html.Partial("_HeaderGameInfo")
    @Html.Partial("_HeaderGameCountDown")
    @Html.Partial("_MarketShared")
</div>
<div class="card-header"><strong>Choose Protect Risk</strong></div>
<div class="card-body">

    @using (Html.BeginForm("ProtectRisk", "Game", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table class="table">
            <thead>
                <tr>
                    <td><b>Name</b></td>
                    <td class="text-dark"><b>Level 0 (ป้องกัน 0%)</b></td>
                    <td class="text-danger"><b>Level 1 (ป้องกัน 25%)</b></td>
                    <td class="text-warning"><b>Level 2 (ป้องกัน 50%)</b></td>
                    <td class="text-success"><b>Level 3 (ป้องกัน 100%)</b></td>
                    @*<td><b></b></td>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RiskData)
                {
                    <tr>
                        <td>
                            @item.Name
                            <span class="badge badge-pill badge-primary">@item.RiskType</span>
                            <div><p class="small">@item.RiskDetail</p></div>
                        </td>
                        @foreach (var op in item.RiskOption.OrderBy(x => x.RiskLevel))
                        {
                            if (op.RiskLevel.GetValueOrDefault() == 0)
                            {
                                <td>
                                    @Html.RadioButton("RiskId" + op.RiskId, op.RiskOptionId, new { @onclick = "Sum(" + @op.RiskId + "," + @op.ActionEffectValue + ")", @checked = true }) @Html.Raw("") @op.ActionEffectValue.GetValueOrDefault().ToString("n0")
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.RadioButton("RiskId" + op.RiskId, op.RiskOptionId, new { @onclick = "Sum(" + @op.RiskId + "," + @op.ActionEffectValue + ")" }) @Html.Raw("-") @op.ActionEffectValue.GetValueOrDefault().ToString("n0")
                                </td>
                            }
                        }
                        @*<td><button class="btn btn-danger" style="font-size:small" type="button" onclick="ClearRisk('RiskId'+ @item.RiskId)">Clear</button></td>*@
                    </tr>
                }

            </tbody>
        </table>

        <button id="submit" type="submit" class="btn btn-success" style="font-size:large; display:block;margin: 0 auto;">Confirm</button>
    }
    <br />
    <div class="rows col-md-12">
        <div class="alert alert-warning alert-dismissible" role="alert">
            <strong><i class="fa fa-newspaper-o"></i> Breaking News!</strong>
            <marquee><strong id="riskNewsMarguee" style="">BBC รายงานว่ามีกลุ่ม Hacker ตะวันออกกลางได้ทำการเจาะระบบ Cloud ของ Microsoft และ Amazon คาดว่าข้อมูลของผู้ใช้งานกว่า 5ล้านราย จะมีผลกระทบ</strong></marquee>
        </div>
    </div>
</div>

@*<iframe src="http://localhost:50833/GameStart/Index/1066" width="100%" height="600" />*@

<script type="text/javascript">

function Sum(id, value)
{

}

function ClearRisk(name)
{
     $('input[name=' + name + ']').prop('checked', false);
}


    function GetNews(turn, gameRoomId) {

    }




</script>
