@model RiskGame.Models.RiskDataModel
@using RiskGame.Helper
@{
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
    ViewBag.Title = "Game Page";
    ViewBag.CountDown = DateTime.Now.AddMinutes(5.05);
}

<div class="jumbotron">
    <strong><i class="fa fa-bolt"></i> Game Battle</strong>
    @*<div>PlayerName:  @Singleton.Game().PlayerName</div>
        <div>Money:  @Singleton.Game().Money</div>
        <div>Turn:  @Singleton.Game().Turn</div>
        <div>GameRoomId:  @Singleton.Game().GameRoomId</div>*@
    @*<div id="countdown"></div>*@
    @Html.Partial("_HeaderGameInfo")
    @Html.Partial("_HeaderGameCountDown")
    @Html.Partial("_MarketShared")


</div>

<div class="card-header">
    <strong>Choose Protect Risk</strong>
</div>
<div class="card-body">
    @using (Html.BeginForm("ProtectRisk", "Game", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table class="table table-hover table-light">
            <thead class="thead-light" style="background: lightgray;">
                <tr>
                    <td><b>Name</b></td>
                    <td class="text-dark"><b>Level 0 (ป้องกัน 0%)</b></td>
                    <td class="text-success"><b>Level 1 (ป้องกัน 25%)</b></td>
                    <td class="text-warning"><b>Level 2 (ป้องกัน 50%)</b></td>
                    <td class="text-danger"><b>Level 3 (ป้องกัน 100%)</b></td>
                    @*<td><b></b></td>*@
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.RiskData)
                {
                    <tr>
                        <td>
                            <span class="badge badge-pill badge-primary">@item.RiskType</span>
                            @item.Name
                            <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Probability: @item.RiskProbability Impact: @item.RiskImpact">
                            </i>
                            <div><p class="small">@item.RiskDetail</p></div>
                        </td>
                        @foreach (var op in item.RiskOption.OrderBy(x => x.RiskLevel))
                        {

                            if (op.RiskLevel.GetValueOrDefault() == 0)
                            {
                                <td>
                                    @Html.RadioButton("RiskId" + op.RiskId, op.RiskOptionId, new { @onclick = "Sum(" + @op.RiskId + "," + @op.ActionEffectValue + ")", @checked = true }) @Html.Raw("") @op.ActionEffectValue.GetValueOrDefault().ToString("n0")
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.RadioButton("RiskId" + op.RiskId, op.RiskOptionId, new { @onclick = "Sum(" + @op.RiskId + "," + @op.ActionEffectValue + ")" }) @Html.Raw("-") @op.ActionEffectValue.GetValueOrDefault().ToString("n0")
                                </td>
                            }

                        }
                        @*<td><button style="font-size:small; text-align:center;" class="btn btn-danger" type="button" onclick="ClearRisk('RiskId'+ @item.RiskId)">Clear</button></td>*@
                    </tr>
                }

            </tbody>
        </table>

        <button id="submit" type="submit" class="btn btn-success" style=" display:block;margin: 0 auto;font-size: x-large;text-align: center; border-radius: 8px;box-shadow: 0 4px darkgrey;">Confirm</button>
    }

    <br />
    <div class="" id="newsBox" style="display:none;">
        <div class="alert alert-warning alert-dismissible" role="alert" id="riskNewsMarguee">
            <strong><i class="fa fa-newspaper-o"></i> Breaking News!</strong>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        GetRiskNews(@Singleton.Game().GameRoomId,@Singleton.Game().Turn);
    });

    function Sum(id, value) {

    }

    function ClearRisk(name) {
        $('input[name=' + name + ']').prop('checked', false);
    }

    function GetRiskNews(gameRoomId, turn) {
        $.ajax({
            url: '/Risk/GetRiskNews',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'JSON',
            data: { gameRoomId: gameRoomId, turn: turn }
        }).success(function (data) {
            if (data.Result == "") {
                
            } else {
                $("#newsBox").show();
                $("#riskNewsMarguee").append('<marquee>' + data.Result + '</marquee>');
            }
        }).error(function () {

        });
    }
</script>