@model RiskGame.Models.RiskDataModel
@using RiskGame.Helper
@{
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
    ViewBag.Title = "Game Page";
    ViewBag.CountDown = DateTime.Now.AddMinutes(5.05);
}

<div class="jumbotron">
    <strong><i class="fa fa-bolt"></i> Game Battle</strong>
    @*<div>PlayerName:  @Singleton.Game().PlayerName</div>
        <div>Money:  @Singleton.Game().Money</div>
        <div>Turn:  @Singleton.Game().Turn</div>
        <div>GameRoomId:  @Singleton.Game().GameRoomId</div>*@
    @*<div id="countdown"></div>*@
    @Html.Partial("_HeaderGameInfo")
    @Html.Partial("_HeaderGameCountDown")



</div>

<div class="card-header">
    <strong>Choose Protect Risk</strong>
</div>
<div class="card-body">
    @using (Html.BeginForm("ProtectRisk", "Game", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table class="table">
            <thead>
                <tr>
                    <td><b>Name</b></td>
                    <td><b>Level 1</b></td>
                    <td><b>Level 2</b></td>
                    <td><b>Level 3</b></td>
                    <td><b></b></td>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.RiskData)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        @foreach (var op in item.RiskOption)
                        {

                            <td>
                                @Html.RadioButton("RiskId" + op.RiskId, op.RiskOptionId) @Html.Raw("Protect -") @op.ActionEffectValue
                            </td>

                        }
                        <td><button style="font-size:small; text-align:center;" class="btn btn-danger" type="button" onclick="ClearRisk('RiskId'+ @item.RiskId)">Clear</button></td>
                    </tr>
                }

            </tbody>
        </table>

        <button id="submit" type="submit" class="btn btn-success" style="font-size:large; text-align:center;">Confirm</button>
    }
</div>

<script type="text/javascript">
    function ClearRisk(name) {
        $('input[name=' + name + ']').prop('checked', false);
    }
   @*/* var end = new Date('@ViewBag.CountDown'); // viewbag
        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;

        function showRemaining() {
            var now = new Date();
            var distance = end - now;
            if (distance < 0) {

                clearInterval(timer);
                document.getElementById('countdown').innerHTML = 'EXPIRED!';
                //go to next page auto
                $("#submit").click();

                return;
            }
          //  var days = Math.floor(distance / _day);
          //  var hours = Math.floor((distance % _day) / _hour);
            var minutes = Math.floor((distance % _hour) / _minute);
            var seconds = Math.floor((distance % _minute) / _second);

          //  document.getElementById('countdown').innerHTML = days + 'days ';
          //  document.getElementById('countdown').innerHTML += hours + 'hrs ';
            document.getElementById('countdown').innerHTML = minutes + 'mins ';
            document.getElementById('countdown').innerHTML += seconds + 'secs';
        }
        timer = setInterval(showRemaining, 1000);*/*@
</script>