@model RiskGame.Models.RiskDataModel

@{
    Layout = "~/Views/Shared/_LayoutGame.cshtml";
    ViewBag.Title = "Open Risk Page";
    //ViewBag.CountDown = DateTime.Now.AddMinutes(5.05);
}
<div class="jumbotron">
    <h1>Open Risk</h1>
    @ViewBag.Money
    <a href="/Game">Next Turn</a>
</div>
    @*<div class="jumbotron">
            <h1>Game Start</h1>

            <div id="countdown"></div>

            @using (Html.BeginForm("SendRisk", "Game", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <table class="table">
                    <thead>
                        <tr>
                            <td><b>Name</b></td>
                            <td><b>Level 1</b></td>
                            <td><b>Level 2</b></td>
                            <td><b>Level 3</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var item in Model.RiskData)
                        {
                                <td>
                                    @item.Name
                                </td>
                                foreach (var op in item.RiskOption)
                                {

                                    <td>
                                        @Html.RadioButton("riskoption", op.Money) @Html.Raw("Protect -") @op.Money
                                    </td>
                                }

                            }
                        </tr>
                    </tbody>
                </table>

                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
            }

        </div>

        <script>
            var end = new Date('@ViewBag.CountDown'); // viewbag
                var _second = 1000;
                var _minute = _second * 60;
                var _hour = _minute * 60;
                var _day = _hour * 24;
                var timer;

                function showRemaining() {
                    var now = new Date();
                    var distance = end - now;
                    if (distance < 0) {

                        clearInterval(timer);
                        document.getElementById('countdown').innerHTML = 'EXPIRED!';
                        //go to next page auto
                        $("#submit").click();

                        return;
                    }
                  //  var days = Math.floor(distance / _day);
                  //  var hours = Math.floor((distance % _day) / _hour);
                    var minutes = Math.floor((distance % _hour) / _minute);
                    var seconds = Math.floor((distance % _minute) / _second);

                  //  document.getElementById('countdown').innerHTML = days + 'days ';
                  //  document.getElementById('countdown').innerHTML += hours + 'hrs ';
                    document.getElementById('countdown').innerHTML = minutes + 'mins ';
                    document.getElementById('countdown').innerHTML += seconds + 'secs';
                }
                timer = setInterval(showRemaining, 1000);
        </script>*@
